h1,h2,h3,h4,h5,h6,ul,ol,p {
  margin-bottom: 0;
}

ul {
  margin-left: 0;
  margin-bottom: 0;
}

a {
  display: block;
  text-decoration: none;
  transition: all .3s ease-in-out;
  svg path {
    transition: all .3s ease-in-out;
  }
}

a:hover {
  text-decoration: none;
  color: $secondary;
}

a:visited{
  // color: $primary;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

a:focus {
  outline: none; 
}

.main-about, .main-home {
  overflow: hidden;
  // overflow-y: scroll;
}

.editor-content {
  h3 {
    margin-bottom: 50px;
  }
  ul {
    padding-left: 0;
    margin-right: 0;
    list-style: none;
    margin-bottom: 20px;
    li {
      margin-bottom: 5px;
    }
  }
  p {
    margin-bottom: 20px;
    line-height: 28px;
  }
  :last-child {
    margin-bottom: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  img {
    display: block;
  }

  iframe {
    width: 100%;
    height: 403px;
  }
  a {
    color: $gray4;
    text-decoration: underline;
    &:hover {
      color: $secondary;
    }
  }
  table {
    display: flex;
    width: 100%;
    thead {
      width: 100%;
    }
    tr {
      display: flex;
      width: 100%;
      column-gap: 20px;
      margin-bottom: 5px;
    }
    th {
      display: block;
    }
    td {
      display: block;
      width: 33.3333333%;
      border-radius: 5px;
      padding: 12px;
    }
  }
  thead tr {
    td:first-child {
      background: $gray2
    }
    td:nth-child(2) {
      background: rgba(214, 32, 37, 0.10);
      text-align: center;
    }
    td:nth-child(3) {
      background: rgba(51, 51, 51, 0.10);
      text-align: center;
    }
  }

  thead tr:first-child {
    display: flex;
    th {
      width: 33.3333333%;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
      border-radius: 5px;
      /* Headline/h4 */
      font-family: Noto Sans TC;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 27px; /* 150% */
      letter-spacing: 1px;
    }
    th:nth-child(2) {
      background: rgba(214, 32, 37, 0.10);
    }
    th:nth-child(3) {
      background: rgba(51, 51, 51, 0.10);
    }
  }
}

.editor-content-same-space {
  h3 {
    margin-bottom: 20px;
  }
  h4 {
    margin-bottom: 20px;
  }
}