.banner {
  height: 576px;
  padding-top: 60px;
}

.banner-m {
  height: 492px;
}

.banner-s {
  height: 400px;
}

.bg-banner {
  background: #d9d9d9;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,0.6) 60%, rgba(255,255,255,0) 100%);
}