.breadcrumbs {
  padding: 10px 0;
  font-size: 14px;
  line-height: 22px;
  .separater {
    color: $gray5;
    margin: 0 4px;
  }
  span {
    display: flex;
  }
  a {
    color: $gray5;
  }
  .breadcrumb_last {
    color: $secondary;
  }
}