.btn {
  padding: 4px 12px;
  border-radius: 5px;
}

.btn-lg {
  padding: 12px 32px;
}

.btn-y-center {
  display: flex;
  align-items: center;
}

.btn-secondary {
  background: $secondary;
  color: $light;
  border: 1px solid $secondary;
  &:hover {
    background: transparent;
    color: $secondary;
    svg path {
      stroke: $secondary;
    }
  }
}

.btn-secondary20 {
  background: rgba($secondary, .2);
}

.btn-outline-secondary {
  color: $secondary;
  border: 1px solid $secondary;
}

.btn-gray3 {
  background: $gray3;
  color: $dark;
}

.btn-outline-light {
  color: $light;
  border: 1px solid $light;
  &:hover {
    background: $light;
    color: $dark;
  }
}