.form-control {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid $gray4;
  display: block;
  width: 100%;
  position: relative;
  &::placeholder {
    color: $gray4;
  }
  &.form-control-area {
    border-radius: 0;
  }
}

.form-select {
  appearance: none; /* 标准 */
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none; /* Firefox */
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba($light, .5);
  background: rgba($light, .2);
  color: $gray6;
  text-align: center;
  padding: 10px 50px 10px 10px;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    background: rgba($light, .5);
    width: 1px;
    height: calc(100% - 20px);
  }
}

.contact-form-group {
  .form-label {
    display: block;
  }
  .form-select {
    display: block;
    width: 100%;
    padding: 8px 20px;
    background: $light;
    border: 1px solid $gray4;
    text-align: left;
    color: $gray4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' viewBox='0 0 10 7' fill='none'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23CFAE8E' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
}

.other-form-control {
  border: none;
  border-bottom: 1px solid $dark;
  background: none;
  // width: auto;
}

.wpcf7-not-valid-tip {
  position: absolute;
}

.wpcf7-list-item {
  margin: 0;
}

.wpcf7-spinner {
  display: none;
}