.tile-list {
  gap: 2px;
  .tile-block {
    width: 60px;
    height: 60px;
    display: block;
  }
}
.tile-color {
  width: 190px;
  height: 190px;
  border-radius: 5px;
}

.cirlce-list {
  .circle-block {
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }
}

.sns-share-list {
  .item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
    margin-bottom: 20px;
    transition: all .3s;
    &:hover {
      background: $secondary;
      svg path {
        stroke: $light;
      }
    }
  }
}

.qa-item {
  height: 190px;
}