$mobile-space-sizes: (
  xxs: 15px,
  xs: 40px,
  s: 30px,
  m: 40px,
  l: 50px,
  xl: 60px,
  xxl: 70px,
);

@each $size, $space in $mobile-space-sizes {
  .layout-sm-bottom-#{$size} {
    margin-bottom: $space;
  };
  .layout-sm-right-#{$size} {
    margin-right: $space;
  };
  .inner-sm-top-#{$size} {
    padding-top: $space;
  };
  .inner-sm-bottom-#{$size} {
    padding-bottom: $space;
  };
};

$space-sizes: (
  xxs:30px,
  xs: 40px,
  s: 60px,
  m: 80px,
  l: 100px,
  xl: 120px,
  xxl: 140px,
);

@each $size, $space in $space-sizes {
  .layout-bottom-#{$size} {
    @include media-breakpoint-up(lg) {
      margin-bottom: $space;
    }
  };
  .layout-right-#{$size} {
    @include media-breakpoint-up(lg) {
      margin-right: $space;
    }
  };
  .inner-top-#{$size} {
    @include media-breakpoint-up(lg) {
      padding-top: $space;
    }
  };
  .inner-bottom-#{$size} {
    @include media-breakpoint-up(lg) {
      padding-bottom: $space;
    }
  };
};

